<div class="container-fluid">
    <div class="card">
        <div class="user signup_form">
            <div class="form">
                <div class="flag-text"> <select>
                        <option>English</option>
                        <option>Hindi</option>
                        <option>Other</option>
                    </select> </div>
                <div class="text_signup">
                    <h4>Register Now</h4>
                    <h2>Sign up for free</h2>
                    <p>Already have an account <a href="#" class="signin-click">Sign In</a></p>
                </div>
                <div class="input-text-signup"> <input type="text" required> <i class="fa fa-user"></i> <label>Username</label> </div>
                <div class="input-text-signup"> <input type="text" required> <i class="fa fa-envelope-o"></i> <label>E-mail</label> </div>
                <div class="input-text-signup"> <input type="password" id="password_input" required> <i class="fa fa-eye-slash"></i> <label>Password</label> </div>
                <div class="signup-button"> <button>Sign up</button> </div>
                <div class="policy">
                    <p>By clicking Sign up,you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Use Policy</a> ,including our <a href="#">Cookie Use</a>. </p>
                </div>
            </div>
            <div class="image-box"> <img src="https://imgur.com/KLu8tNX.jpg"> </div>
        </div>
        <div class="user signin_form">
            <div class="image-box"> <img src="https://imgur.com/FUfgyLv.jpg"> </div>
            <div class="form">
                <div class="flag-text"> <select>
                        <option>English</option>
                        <option>Hindi</option>
                        <option>Other</option>
                    </select> </div>
                <div class="text_signup">
                    <h4>Start your journey</h4>
                    <h2>Sign up to Ocula</h2>
                    <p>Don't have an account?<a href="#" class="signup-click">Sign Up</a></p>
                </div>
                <div class="input-text-signup"> <input type="text" required> <i class="fa fa-envelope-o"></i> <label>E-mail</label> </div>
                <div class="input-text-signup"> <input type="password" id="password_input_signin" required> <i class="fa fa-eye-slash change_eye"></i> <label>Password</label> </div>
                <div class="signup-button"> <button>Sign in</button> </div>
                <div class="policy">
                    <p>By clicking Sign up,you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Use Policy</a> ,including our <a href="#">Cookie Use</a>. </p>
                </div>
            </div>
        </div>
    </div>
</div>