<div class="container-fluid my-5">
    <div class="row">
        <app-hero-video></app-hero-video>
    </div>
    <div class="row">
        <div class="col-md-6 first"> <img src="https://imgur.com/DmHf6bG.png" width="90%" height="90%" class="p-5"> </div>
        <div class="col-md-6 second">
            <div class="row">
                <div class="col-sm-4 col-4"><span>Works</span></div>
                <div class="col-sm-4 col-4">Discover</div>
                <div class="col-sm-4 col-4">Following</div>
            </div>
            <div class="row xyz"> <small class="searching">Search</small>
                <div class="ml-auto"><i class="fas fa-search"></i></div>
            </div>
            <div class="card px-5">
                <div class="media"> <span class="round"><img src="https://img.icons8.com/bubbles/50/000000/user.png" class="mr-3"></span>
                    <div class="media-body">
                        <div class="row d-flex">
                            <h6 class="pl-3"><strong>Eleanor Porter</strong></h6>
                            <div class="ml-auto mr-4"> <small class="text">1 min ago</small> </div>
                        </div>
                        <p class="text">you can create a free and professional<br>website all on your own</p>
                    </div>
                </div>
                <div class="row mt-2 ml-2">
                    <div class="col-md-2 col-sm-2 col-2 one"><img src="https://img.icons8.com/material-outlined/24/000000/art-book.png" /></div>
                    <div class="col-md-2 col-sm-2 col-2 offset-1 two"><img src="https://img.icons8.com/windows/32/000000/art-book.png" /></div>
                    <div class="col-md-2 col-sm-2 col-2 offset-1 three"><img src="https://img.icons8.com/material/24/000000/modern-art.png" /></div>
                    <div class="col-md-2 col-sm-2 col-2 offset-1 four"><img src="https://img.icons8.com/material-outlined/24/000000/art-prices--v2.png" /></div>
                </div>
                <form class="user mt-4">
                    <div class="form-group"> <textarea class="form-control" rows="4">Hi Eleanor, what are you thinking</textarea> </div> <button type="button" class="btn btn-primary btn-lg btn-block pb-3"><span>Comment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></span></button>
                </form>
            </div>
        </div>
    </div>
</div>