<section>
    <div class="container-fluid h-100">
        <div class="d-flex h-100 text-center align-items-center m-3">
            <div class="w-100  text-dark">
                <h1>En nuestra tienda puedes encontrar:</h1>
                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-6 col-md-4">
                        <a href="productos">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body text-dark">
                                        <div class="media d-flex">
                                            <div class="align-self-center m-3">
                                                <img class="product-img" src="../../assets/DaddyO.jpg">
                                            </div>
                                            <div class="media-body text-right ">
                                                <h3>278</h3>
                                                <span>Jabones</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6 col-md-4">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body text-dark">
                                    <div class="media d-flex">
                                        <div class="align-self-center m-3">
                                            <img class="product-img" src="../../assets/DaddyO.jpg">
                                        </div>
                                        <div class="media-body text-right ">
                                            <h3>278</h3>
                                            <span>Jabones</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6 col-md-4">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body text-dark">
                                    <div class="media d-flex">
                                        <div class="align-self-center m-3">
                                            <img class="product-img" src="../../assets/DaddyO.jpg">
                                        </div>
                                        <div class="media-body text-right ">
                                            <h3>278</h3>
                                            <span>Jabones</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6 col-md-4">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body text-dark">
                                    <div class="media d-flex">
                                        <div class="align-self-center m-3 ">
                                            <img class="product-img" src="../../assets/DaddyO.jpg">
                                        </div>
                                        <div class="media-body text-right ">
                                            <h3>278</h3>
                                            <span>Jabones</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>